body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* Full height to enable scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
  }

.Account-container {
    background-color: #282c34;
    min-height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align content to start so it scrolls properly */
    font-size: calc(10px + 2vmin);
    color: white;
    padding-top: 80px; /* Prevent overlap with the fixed navbar */
  }



